name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # -------- BACKEND --------
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Publish Backend
      run: |
        dotnet publish Backend/LifeHub-Backend.csproj -c Release -o publish/backend

    # -------- FRONTEND --------
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Build Frontend
      run: |
        cd Frontend
        npm ci
        npm run build
        mkdir -p ../../publish/frontend
        cp -r dist/* ../../publish/frontend

    # -------- DEPLOY --------
    - name: Upload to VPS
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        source: "publish/*"
        target: ${{ secrets.VPS_PATH }}

    - name: Restart backend
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        script: |
          sudo systemctl restart lifehub-backend
